In [129]:
import pandas as pd

In [131]:
df = pd.read_csv('schedules2019.csv')
# CSV File generated from developer export from SQL.

In [47]:
df.head() # Ideally things like 'registration' should be counted from the total sum, but I couldn't do it.

,id,delegate_id,activity_code,start_time,end_time
0,BritishSummerOpen2019,314,666-r1,2019-06-29 18:00:00,2019-06-29 18:50:00
1,BritishSummerOpen2019,1197,666-r1,2019-06-29 18:00:00,2019-06-29 18:50:00
2,BritishSummerOpen2019,314,777-r1,2019-06-29 18:50:00,2019-06-29 19:40:00
3,BritishSummerOpen2019,1197,777-r1,2019-06-29 18:50:00,2019-06-29 19:40:00
4,VIQBer2019,289,other-registration,2019-01-19 09:00:00,2019-01-19 09:15:00

In [79]:
df = df.astype({"start_time": "datetime64[ns]","end_time": "datetime64[ns]"}) # Get managable columns for adding times

In [81]:
delegate = df.groupby(['id'])["delegate_id"].nunique() # delegate count per comp

In [82]:
end = df.groupby(['id'])["end_time"].max() # latest scheduled time, i.e. end of comp

In [83]:
sta = df.groupby(['id'])["start_time"].min()

In [103]:
temp = end-sta # Amount of time the comp ran for

In [133]:
final = temp*delegate # Mulitplying by Delegate

In [134]:
nu = 0
for val in final:
    try:
        nu += val
    except TypeError:
        nu = val
        
print(nu)

2102 days 09:55:00